ul {
	list-style-type: none;
	text-align: center;
	padding: 0px;
	display: block;
	color: white;
	margin: 10px auto;
}

h1 {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 20px;
	font-family: 'Poppins', sans-serif;

}

#backgroundImage {
	background-image: url("Jellyfish.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 700px;
	background-position: center;
	padding: 0px;

}

#buttonPost {
	text-align: center;
	display: block;
	margin: 10px 48%;
}
.form-control {
	margin: 50px 20%;
}

/*li {
	color: white;
	text-align: center;
	display: block;
	margin: 10px auto;
}*/